.container{
    margin: 0 50px;
}

/* header */

.header{
    background-color: black;
}

.header .nav{
    display: flex;
}

.header .nav .nav-img{
    width: 25%;
}

.header .nav .nav-img .nav-img-wrapper{
    padding-right: 70%;
    width: 30%;
}

.header .nav .nav-link{
    display: flex;
    padding-left: 40%;
}

.header .nav .nav-link .nav-link-wrapper{
    padding: 25px 40px;
}

.header .nav .nav-link .nav-link-wrapper a{
    text-decoration: none;
    color: green;
}

.header .nav .nav-link .nav-link-wrapper a:hover{
    color: purple;
}

/* Footer */

footer {
    background-color: black;
    padding: 30px 0;
    color: green;
}
  
footer h4 {
    margin-bottom: 20px;
    font-weight: bold;
    color: green;
}

footer p {
    line-height: 1.8;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: green;
    text-decoration: none;
}

footer ul.social-media li {
    display: inline-block;
    margin-right: 10px;
}

footer ul.social-media li:last-child {
    margin-right: 0;
}

footer ul.social-media li a {
    display: inline-block;
    color: green;
    font-size: 18px;
}

footer ul.social-media li a:hover{
    color: purple;
}

footer hr {
    border-color: green;
}

footer p.text-center {
    margin-top: 20px;
    font-size: 14px;
}


/* home */

.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* SinglePlant */

.plant{
    margin: 70px 0;
    text-align: left;
    max-width: 350px;
    background-color: rgb(244, 247, 244);
}

.plant-img{
}

.plant-img-wrapper{
    width: 100%;
}

.plant-spec{
    padding-top: 15px;
    padding-left: 30px;
}

.plant-spec-p{
    color: green;
    margin: 0;
}

.plant-name{
    padding-left: 30px;
}

.plant-name-p{
    color: rgb(5, 63, 5);
    font-weight: 500;
    font-size: 30px;
    margin: 0;
}

.plant-type{
    padding-left: 30px;
}

.plant-type-p{
    font-size: 15px;
    color: green;
    padding: 8px 0 15px 0;
    margin: 0;
}